<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is a reminder for, <%= @user.email %></h1>
    <p>


      You have <%= pluralize(@convos.count, 'upcoming conversation') %>: 
  
    </p>
    <p>
      Conversation details: <br>

         <% @convos.each do |convo| %>
        

          <br>
            <strong>Contact: </strong><%= convo.contact.name %>
            <br>
            <strong>Topic: </strong><%= convo.topic %>
            <br>
            <strong>Next Step: </strong><%= convo.next_step %>
            <br>
          <% end %>



    </p>
    <p>Thanks for using My CRM Network and good luck!</p>
  </body>
</html>