<!-- <h2 class="contact-name"><%= @contact.name %></h2> -->
<br>

<p class="conversation-topic"><%= conversation.topic %></p>
<p class="contact-method">
  <% if conversation.contact_method == "1" %>
  In-person
  <% elsif conversation.contact_method == "2" %>
  Phone
  <% elsif conversation.contact_method == "3" %>
  Email
  <% elsif conversation.contact_method == "4" %>
  Text
  <% else conversation.contact_method == "5" %>
  Social Media
  <% end %>
<p class="next-step"><%= conversation.next_step %></p>
<p class="last-contacted"><%= conversation.last_contacted %></p>
<p class="follow-up-date"><%= conversation.follow_up_date %></p>
<p class="history"><%= conversation.history %></p>
<br>

<div class="links">
  <%= link_to 'Edit Conversation', edit_contact_conversation_path(@contact, conversation.id) %> |
  <%= link_to 'Delete Conversation', contact_conversation_path(@contact, conversation.id), method: :delete, data: { confirm: "Are you sure?" }
 %> |
  <%= link_to 'Back', contacts_path %>
</div>

<br>


