<br>

<p class="conversation-topic">Topic: <%= conversation.topic %></p>
<p class="contact-method">Contact Method:
  <% if conversation.contact_method == "1" %>
  In-person
  <% elsif conversation.contact_method == "2" %>
  Phone
  <% elsif conversation.contact_method == "3" %>
  Email
  <% elsif conversation.contact_method == "4" %>
  Text
  <% else conversation.contact_method == "5" %>
  Social Media
  <% end %>
  <p class="next-step">Next Step: <%= conversation.next_step %></p>
  <p class="last-contacted">Last Contacted: <%= conversation.last_contacted.try(:strftime, "%B %d, %Y") %></p>
  <p class="follow-up-date">Follow Up: <%= conversation.follow_up_date.try(:strftime, "%B %d, %Y") %></p>
<br>

<div class="links">
  <%= link_to 'Edit Conversation', edit_contact_conversation_path(@contact, conversation.id) %> |
  <%= link_to 'Delete Conversation', contact_conversation_path(@contact, conversation.id), method: :delete, data: { confirm: "Are you sure?" }
 %> |

<% if @history == nil %>
 <%= link_to 'Send Conversation to History', send_to_history_contact_history_path(@contact, conversation.id), method: :patch %> |
  <%= link_to 'Back', contacts_path %>
<% else %>

  <%= link_to 'Restore Conversation', contact_conversation_restore_conversation_path(@contact, conversation.id), method: :patch %> |
  <%= link_to 'Back', contacts_path %>
<% end %>

</div>

<br>


