<%= form_for([@contact, @contact.conversations.build]) do |f| %>
  <div class="form-group">
      <%= f.label :topic, 'What Was Your Previous Conversation About?' %>
      <%= f.text_field :topic, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :contact_method %>
      <%= f.select(:contact_method, options_for_select([['In-person', 1], ['Phone', 2], ['Email', 3], ['Text', 4], ['Social Media', 5]]), {}, {class: "form-control"}) %>
    </div>

    <div class="form-group">
      <%= f.label :next_step %>
      <%= f.text_field :next_step, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_contacted %>
      <%= f.date_field :last_contacted, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :follow_up_date %>
      <%= f.date_field :follow_up_date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-danger" %>
    </div>
<% end %>