<p id="notice"><%= notice %></p>
<h2 class="contact_title"><%= @contact.name %></h2>

<div id="conversations_wrapper">
  <%= render @contact.conversations %>
  <div id="form">
    <%= render 'conversations/form' %>
  </div>
</div>

<div class="links">
  <%= link_to 'Edit', edit_contact_conversation_path(@contact, @conversation.id) %> |
  <%= link_to 'Delete', contact_conversation_path(@contact, @conversation.id), method: :delete, data: { confirm: "Are you sure?" }
 %>
</div>


<div class="btn-group">
  <%= link_to "Send to History", history_path, class: "btn btn-primary" %>
</div>

