<%= form_for @contact do |f| %>
  <% if @contact.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error")%>prohibited this contact from being saved: </h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status, 'Status (Previous Conversation)' %>
    <%= f.text_field :status, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :method %>
    <%= f.select(:method, options_for_select([['In-person', 1], ['Phone', 2], ['Email', 3], ['Text', 4], ['Social Media', 5]]), {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label :action_items %>
    <%= f.text_field :action_items, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :conversation_date %>
    <%= f.date_field :conversation_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :follow_up_date %>
    <%= f.date_field :follow_up_date, class: "form-control" %>
  </div>
<% end %>