<%= link_to 'Back', contacts_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
  <p><%= @contact.name %></p>
  <p><%= @contact.status %></p>
  <p><%= @contact.method %></p>
  <p><%= @contact.action_items %></p>
  <p><%= @contact.conversation_date.strftime("%B %d, %Y") %></p>
  <p><%= @contact.follow_up_date.strftime("%B %d, %Y") %></p>
  </div>
</div>