<h2 class="conversations">Conversations</h2>

<div id="conversations_wrapper">
  <%= render @contact.conversations %>

<p class="status"><%= @conversation.topic %></p>
<p class="contact-method"><%= @conversation.contact_method %></p>
<p class="next-step"><%= @conversation.next_step %></p>
<p class="last-contacted"><%= @conversation.last_contacted %></p>
<p class="follow-up-date"><%= @conversation.follow_up_date %></p>

</div>