<h2 class="conversations"><%= @contact.name %>'s Conversations</h2>

<div class="links">
  <%= link_to 'New Conversation', new_contact_conversation_path(@contact) %> |
  <%= link_to 'Edit Contact', edit_contact_path(@contact) %> |
  <%= link_to 'Delete Contact', contact_path(@contact), method: :delete, data: { confirm: "Are you sure?" } %> |
  <%= link_to 'Archived Conversations', contact_history_index_path(@contact) %>
</div>
<br>

<div id="conversations_wrapper">
  <%= render @contact.conversations.where(history: false) %>
</div>




