<%= link_to 'Back', contacts_path %>

<div class="row clearfix">
  <% if @contact.status.complete?  %>

      <div class="complete">
      <%= link_to contact_path(@contact, contact.id), method: :patch do %>
        <i style="opacity: 0.4;" class="fa fa-check"></i>
      <% end %>
    <% end %>

      <div class="col-md-6 col-md-8">
        <p> Name: <%= @contact.name %></p>
        <p>Status: <%= @contact.status %></p>
        <p>Method: <%= @contact.method %></p>
        <p>Action Items <%= @contact.action_items %></p>
        <p>Conversation Date: <%= @contact.conversation_date.strftime("%B %d, %Y")  %></p>
        <p>Follow Up Date: <%= @contact.follow_up_date.strftime("%B %d, %Y")  %></p>
      </div>
    </div>
  </div>
</div>