<h2 class="conversations"><%= @contact.name %>'s Conversations</h2>

<div id="conversations_wrapper">
  <%= render @contact.conversations %>
</div>

<div class="links">
  <%= link_to 'New Conversation', new_contact_conversation_path(@contact) %> |
  <%= link_to 'Edit', edit_contact_path(@contact) %> |
  <%= link_to 'Delete', contact_path(@contact), method: :delete, data: { confirm: "Are you sure?" } %>
</div>

